@{
}

<h1>Add Cheese</h1>

<form method="post">
    <label>
        <span>Cheese name:</span><br>
        <input name="name" type="text" />
    </label><br><br>

    <label>
        <span>Cheese description:</span><br>
        <textarea name="description"></textarea>
    </label><br><br>

        <input type="submit" value="Add Cheese" />
</form>