@{
}


<h1>Delete Cheese</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet to delete!</p>
}


    <form method="post">
        <ul>
           
            @foreach (Cheese cheese in ViewBag.cheeses)
            {
                <li>
                    @cheese.Name
                    <input name="cheeseToDelete" value=@cheese.Name type="checkbox">
                    <p>@cheese.Description</p>
                </li>
                

            }

        </ul>
        <input type="submit" value="Delete">

    </form>